.twoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  > div:first-child {
    border-right: 1px solid var(--background-1);
  }
}

.title {
  border-bottom: 1px solid var(--background-1);
  text-align: center;
}

.content {
  margin-inline: 1rem;
}

.list {
  padding-block: 1.5rem;
  padding-inline-start: 2rem;
}

.addSection {
  h4 {
    margin-block-end: 0.5rem;
  }
}

.datepickerContainer {
  margin-block-end: 0.5rem;
}

.buttonsContainer {
  margin-top: 1rem;
}
