.page {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 500px;
  background: var(--background-0);
}

.page button {
  margin-block-end: 1rem;
  border: none;
  padding: 0.2rem;
  width: auto;
  height: auto;
  background: transparent;
  line-height: 0;

  &:hover,
  &:focus {
    outline: 3px solid black;
    background: none;
  }
}

.title {
  margin-block-start: 0;
  margin-block-end: 1rem;
}
