.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote {
  position: relative;
  margin: 1rem 0;
  aspect-ratio: 4 / 3;
}

.quote p {
  position: absolute;
  top: 50%;
  padding: 5%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
  transform: translateY(-50%);
}

.quote img {
  display: block;
  object-fit: cover;
  filter: brightness(0.4);
}
