<div class="breadcrumbs">
	<p>
		<md-button ui-sref="home">Dashboard</md-button> / <md-button ui-sref="admin">Admin</md-button> / <md-button disabled>   Crea un cartello </md-button>
	</p>
</div>
<div layout="row" layout-align="center none" ng-if="firebaseUser">
	<div class="loading" ng-if="!loaded">
  		<img src="assets/loading.svg" alt="loading">
	</div>
	<md-content flex="100" class="no-height-100" ng-if="loaded">
		<md-card layout="column">
			<md-toolbar md-scroll-shrink class="md-to-change">
		      	<div class="md-toolbar-tools">
					<h1 md-truncate>Crea un cartello</h1>
				</div>
			</md-toolbar>
			<md-card-header>
				<md-card-header-text>
		            <p>Ricordati di rispettare questi punti:</p>
		            <ul>
		                <li>Sii concis*</li>
		                <li>Comincia (dove appropriato) con "Si avvisa la gentila clientela..."</li>
		                <li>Indica che il primo e l'ultimo giorno sono compresi</li>
		            </ul>
		        </md-card-header-text>
		    </md-card-header>
		    <md-card-content>
		    	<form name="signsForm">
					<md-input-container class="md-block">
			          <label>Scrivi il tuo testo qui sotto</label>
			          <textarea ng-model="formSigns.text" name="signsText" required md-maxlength="100" rows="5" md-select-on-focus placeholder="Si avvisa la gentile clientela..."></textarea>
			        </md-input-container>
			        <md-button ng-click="showConfirm($event)" ng-disabled="signsForm.signsText.$invalid">Prepara il pdf!</md-button>
			    </form>
            </md-card-content>
        </div>
    </md-card>
  </md-content>
</div>