.status {
  width: 100%;
  border-radius: var(--border-radius-smaller);

  &:not(:empty) {
    display: block;
    margin-block-start: 0.5rem;
    padding: 0.125rem 0.5rem;
  }
}

.success {
  background-color: var(--background-success);
  color: var(--text-success);
}

.error {
  background-color: var(--background-error);
  color: var(--text-error);
}
