.status {
  width: 100%;
  border-radius: 2px;

  &:not(:empty) {
    display: block;
    padding: 0.125rem 0.5rem;
  }
}

.success {
  background-color: var(--background-success);
  color: var(--text-success);
}

.error {
  background-color: var(--background-error);
}
