.container {
  padding-inline: 1rem;
  overflow: auto;
}

.noPrint {
  @media print {
    display: none !important;
  }
}

.section {
  margin-block-end: 1.5rem;
  padding: 1rem;
  background-color: var(--background-0);
}

.actionBar {
  display: flex;
  gap: 0.75rem;
}

.documentContainer {
  border: 2px solid var(--border-0);

  @media (min-width: 1024px) {
    padding: 1rem;
    aspect-ratio: 210/297;
    max-width: 800px;
    width: 75%;
  }

  @media print {
    border: none;
    width: 100%;
    max-width: none;
    aspect-ratio: initial;
    padding: 0;
  }
}

.document {
  display: grid;
  gap: 1rem;
}

.documentTitle {
  font-size: 3rem;
  font-weight: bold;
}

.documentSubtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.documentSectionTitle {
  font-size: 1.15rem;
  font-weight: bold;
}

.documentRow {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
  }

  @media print {
    flex-wrap: nowrap;
  }
}

.alignCenter {
  justify-content: center;
}

.alignRight {
  justify-content: right;
}

.docsContainer table {
  width: 100%;
}
