.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-block-end: 1.5rem;
  border-block-end: 1px solid var(--border-0);
  width: 100%;

  @media (min-width: 1024px) {
    flex-wrap: nowrap;
    margin-block-end: 0;
    border-block-end: none;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 100%;
  gap: 0.5rem;
  margin-block-end: 0.5rem;

  @media (min-width: 1024px) {
    width: auto;
  }
}

.selectContainer {
  flex-grow: 1;
  max-width: 50%;
}
