<md-content flex layout-wrap ng-if="lock.isAuthenticated()">
	<div class="loading" ng-if="!loaded">
  		<img src="assets/loading.svg" alt="loading">
	</div>
	<div layout="row" layout-wrap class="top-container" ng-if="loaded">
		<div layout="column" flex-xs="100" flex-sm="55" flex="60">
			<md-card class="flex__grow background-cover welcome">
				<md-card-content>
					<p class="md-display-3 welcome__greeting">
						{{greeting}}!
					</p>
					<p>
						<span class="todayDay md-display-4 welcome__day">{{today.day}}</span> 
						<span class="todayMonth md-display-2 welcome__month">{{today.month}}</span>
					</p>
					<p class="md-display-2 welcome__hour">
						<span class="welcome__hour--hour">{{today.hour}}</span>:<span class="welcome__hour--minute">{{today.minute}}</span>
					</p>
				</md-card-content>
		</md-card>
		</div>
		<div layout="column" flex-xs="100" flex-sm="45" flex="40">
			<md-card class="flex__grow quote" style="background-image: url({{quote.active.url}})">
				<md-toolbar class="quote__title">
					<div class="md-toolbar-tools">
						<p>Citazione del mese</p>
					</div>
				</md-toolbar>
				<md-card-content class="quote__text">
					{{quote.active.text}}
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div layout="row" layout-wrap flex layout-align="center stretch" class="link-container">
		<div layout="column" flex-xs="50" flex-sm="33" flex="25" class="link-item" ng-repeat="link in links">
			<md-card layout="column" layout-align="end stretch" class="background-cover" ng-style="getLinkStyle(link.color)">
				<md-card-content layout="column" layout-align="space-between stretch">
			        <md-card-title class="link-item__title">
			          <md-card-title-text>
			            <span class="md-subheadline">{{link.description}}</span>
			          </md-card-title-text>
			        </md-card-title>
					 <md-card-actions layout="row" layout-align="end center">
					   <a href="{{link.link}}" target="_blank">
					   	<md-button>
					   		<md-icon class="link-item__icon">arrow_forward</md-icon>
					   	</md-button>
					   </a>
					</md-card-actions>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>
<md-content ng-hide="lock.isAuthenticated()" flex layout="row" layout-padding layout-align="center center" class="login">
	<md-card layout="row" layout-align="center center">
		<div flex="50" class="login__first" ng-if="!lock.isAuthenticated()">
			<h1>Benvenuto nella intranet Pieroni!</h1>
			<h2>Esegui il login a destra per entrare</h2>
		</div>
		<div flex="50" class="login__second">
			<div id="lock-container"></div>
		</div>
</md-card>
</md-content>