<div class="breadcrumbs">
	<p>
		<md-button ui-sref="home">Dashboard</md-button> / <md-button ui-sref="admin">Admin</md-button> / <md-button disabled>   Gestione Link </md-button>
	</p>
</div>
<div layout="row" layout-align="center none" ng-if="lock.isAuthenticated()">
	<div class="loading" ng-if="!loaded">
  		<img src="assets/loading.svg" alt="loading">
	</div>
	<md-content flex="100" class="no-height-100" ng-if="loaded">
		<md-card class="admin-links-container">
			<md-toolbar md-scroll-shrink class="md-to-change">
		      <div class="md-toolbar-tools">
		        <h2 flex md-truncate>Clicca un link per modificarlo</h2>
		        <md-button class="md-icon-button ui-to-change md-raised" ng-click="showLinkDialog($event)">
			      <md-icon>
			      	add
			      </md-icon>
			    </md-button>
		      </div>
		    </md-toolbar>
        	<md-card-content>
        		<span>{{errMessage}}</span>
				<md-list flex>
			        <md-list-item class="md-2-line noright" ng-repeat="link in links" ng-click="modLink(link); showLinkDialog($event)">
						<span class="md-avatar admin-link__color" ng-style="getLinkStyle(link.color)"></span>
						<md-list-item-text>
				          	<h4>{{ link.description }}</h4>
				            <p>{{ link.link }}</p>
			        	</md-list-item-text>
			        </md-list-item>
			    </md-list>
			</md-card-content>
		</md-card>
		<div style="visibility: hidden">
		    <div class="md-dialog-container" id="myDialog">
		      <md-dialog layout-padding ng-class="{'light' : uiColorClass() === false, 'dark' : uiColorClass() === true}"><div flex-xs="100" class="link">
					<div>
						<h4 class="text-center">Anteprima Link</h4>
						<md-card ng-style="getLinkStyle(formLinks.color)">
							<md-card-content layout="column" layout-align="space-between stretch">
						        <md-card-title class="link-item__title">
						          <md-card-title-text>
						            <span class="md-subheadline">{{formLinks.linkDescription}}</span>
						          </md-card-title-text>
						        </md-card-title>
								 <md-card-actions layout="row" layout-align="end center">
								   <a href="{{formLinks.linkAddress}}" target="_blank">
								   	<md-button>
								   		<md-icon class="link-item__icon">arrow_forward</md-icon>
								   	</md-button>
								   </a>
								</md-card-actions>
							</md-card-content>
							<md-card-content>
						</md-card>
					</div>
					<form layout="row" name="linkForm" layout-wrap>
						<md-input-container flex="100">
							<label for="linkDescriptionField">Descrizione Link</label>
							<input type="text" flex="100" name="linkDescriptionField" id="linkDescriptionField" ng-model="formLinks.linkDescription" required />
						</md-input-container>
						<md-input-container flex="100">
							<label for="linkAddressField">Indirizzo Link</label>
							<input type="url" name="linkAddressField" id="linkAddressField" ng-model="formLinks.linkAddress" required />
						</md-input-container>
						<div flex="100">
							<h4 class="text-center">Scegli il colore</h4>
							<md-radio-group ng-model="formLinks.color" layout="row" layout-align="center center">
						      <md-radio-button value="grey" class="color-selector"></md-radio-button>
						      <md-radio-button value="deepOrange" class="color-selector"></md-radio-button>
						      <md-radio-button value="red" class="color-selector"></md-radio-button>
						      <md-radio-button value="green" class="color-selector"></md-radio-button>
						      <md-radio-button value="indigo" class="color-selector"></md-radio-button>
						      <md-radio-button value="lightBlue" class="color-selector"></md-radio-button>
						      <md-radio-button value="teal" class="color-selector"></md-radio-button>
						      <md-radio-button value="amber" class="color-selector"></md-radio-button>
						    </md-radio-group>
						</div>
					</form>
    				<md-dialog-actions layout="row">
						<md-button ng-show="moddingLink" ng-click="showRemoveConfirmation($event)">Rimuovi Link</md-button>
						<span flex></span>
						<md-button ng-click="nullLink()">Annulla</md-button>
						<md-button ng-hide="moddingLink" ng-click="addLink()" ng-disabled="linkForm.linkDescriptionField.$invalid || linkForm.linkAddressField.$invalid">Aggiungi Link</md-button>
						<md-button ng-show="moddingLink" ng-click="moddedLink()" ng-disabled="linkForm.linkDescriptionField.$invalid || linkForm.linkAddressField.$invalid">Modifica Link</md-button>
					</md-dialog-actions>
		      </md-dialog>
		    </div>
		</div>
  </md-content>
</div>
<div ng-if="!lock.isAuthenticated()">

</div>