<div ng-controller="UploadController">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span class="md-subhead">Clicca un'immagine per selezionarla</span>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="upload()">
                <md-icon aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <div ng-show="uploading">
            <form ng-submit="uploadFile(quoteFile)">
              <input type="file" name="file" id="file" accept="jpg" file-model="quoteFile" class="form-control inputfile" custom-on-change="selectFile">
              <label for="file" class="file-upload-label md-raised md-button">{{selectButtonText}}</label>
              <md-button type="submit" class="btn btn-primary">Upload File</md-button>
            </form>
          </div>
          <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
              <md-grid-tile ng-repeat="image in images" ng-click="selectImage(image)" md-rowspan="1" md-colspan="1" >
                <img class="admin-quote__image" src="{{image.url}}" />
              </md-grid-tile>
          </md-grid-list>

      
    </div>
