.container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-block-end: 1.5rem;
  border-block-end: 1px solid var(--border-0);
  width: 100%;

  @media (min-width: 1024px) {
    margin-block-end: 0;
    padding: 0.5rem;
    border: 2px solid var(--border-0);
  }
}

.container > label,
.container .selectContainer {
  flex-grow: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 0.5rem;
  margin-block-end: 0.5rem;
}

.iconLabel {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'label label'
    'icon input';
  column-gap: 0.5rem;
}

.iconLabel input {
  grid-area: input;
}

.iconContainer {
  grid-area: icon;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: var(--border-highlight) 2px solid;
  border-radius: 50%;
  overflow: hidden;

  font-size: 1.5rem;
  font-weight: bold;
}
