.dateContainer {
  grid-area: date;
}

.content {
  grid-area: content;
}

.result {
  grid-area: result;
}

.attachments {
  grid-area: attachments;
}

.attachmentsContainer {
  display: flex;
  gap: 0.5rem;
}

.attachments img {
  max-width: 150px;
}

.editContainer {
  grid-area: edit;
}
