.form {
  display: grid;
  row-gap: 1rem;
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.imagesContainer img {
  object-fit: cover;
  min-height: 100%;
}

.imageInput {
  position: relative;

  &:has(input:checked) {
    outline: 3px solid var(--border-highlight);

    &:after {
      content: '✔️';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
    }
  }
}
