<div class="breadcrumbs">
	<p>
		<md-button ui-sref="home">Dashboard</md-button> / <md-button ui-sref="admin">Admin</md-button> / <md-button disabled>   Gestione Citazione </md-button>
	</p>
</div>
<div layout="row" layout-align="center none" ng-if="firebaseUser">
	<div class="loading" ng-if="!loaded">
  		<img src="assets/loading.svg" alt="loading">
	</div>
	<md-content flex="100" ng-if="loaded">
		<div flex="100">
				<md-card flex="50" class="admin-quote-container" ng-repeat="quote in quotes">
						<md-card-avatar>
							<img ng-src="{{quote.url}}"/>
							<md-button class="md-fab edit-img__button--open" aria-label="Modifica Foto" ng-click="openQuoteImageMod($event)">
					            <md-icon>edit</md-icon>
					        </md-button>
						</md-card-avatar>
						<md-card-content>
							<p>{{quote.text}}</p>
						</md-card-content>
						<md-card-actions layout="row">
							<md-button ng-click="modQuoteText(quote); openQuoteTextMod($event)">Modifica testo</md-button>
						</md-card-actions>
				</md-card>
		</div>
		<div style="visibility: hidden">
		    <div class="md-dialog-container" id="quote-text-dialog">
		      <md-dialog class="quote-text__dialog" ng-class="{'light' : uiColorClass() === false, 'dark' : uiColorClass() === true}">
		      	<div flex-xs="100" class="link">
						<md-dialog-content layout-padding>
							<form name="quoteForm">
								<md-card-content>
									<md-input-container class="md-block">
							          <label>Cambia il testo della citazione</label>
							          <textarea ng-model="formQuote.text" name="quoteText" md-maxlength="150" rows="5" md-select-on-focus></textarea>
							        </md-input-container>
								</md-card-content>
							</form>
						</md-dialog-content>
    				<md-dialog-actions layout="row">
						<md-button ng-click="nullModText()">Annulla</md-button>
						<md-button ng-click="saveQuoteText()" ng-disabled="quoteForm.quoteText.$invalid">Salva</md-button>
					</md-dialog-actions>
				</div>
		      </md-dialog>
		    </div>
		</div>
		<div style="visibility: hidden">
		    <div class="md-dialog-container" id="quote-image-dialog">
		      <md-dialog class="quote-img__dialog" ng-class="{'light' : uiColorClass() === false, 'dark' : uiColorClass() === true}">
		      	<md-dialog-content>
		      		<upload folder="images"></upload>
		      	</md-dialog-content>
				<md-dialog-actions layout="row">
					<md-button ng-click="deleteImage()" ng-disabled="!selectedQuoteImage">Elimina</md-button>
					<md-progress-circular md-mode="indeterminate" ng-show="deleting"></md-progress-circular>
					<span flex></span>
					<md-button ng-click="nullModImage()" md-autofocus>Annulla</md-button>
					<md-button ng-click="saveQuoteImage()" ng-disabled="!selectedQuoteImage">Salva</md-button>
				</md-dialog-actions>
		      </md-dialog>
		    </div>
		</div>
    </md-content>
</div>