/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 500;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/**
  theme: https://leonardocolor.io/theme.html?name=Dark&config=%7B%22baseScale%22%3A%22Gray%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22Red%22%2C%22colorKeys%22%3A%5B%22%23e32400%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%22-1.17%22%2C%22-1.1%22%2C%222.36%22%2C%224.12%22%2C%225.89%22%2C%227.65%22%2C%229.42%22%2C%2211.18%22%2C%2214.92%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Blu%22%2C%22colorKeys%22%3A%5B%22%23142863%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%22-1.17%22%2C%22-1.1%22%2C%222.36%22%2C%224.12%22%2C%225.89%22%2C%227.65%22%2C%229.42%22%2C%2211.18%22%2C%2214.92%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Arancio%22%2C%22colorKeys%22%3A%5B%22%23ee8900%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%22-1.17%22%2C%22-1.1%22%2C%222.36%22%2C%224.12%22%2C%225.89%22%2C%227.65%22%2C%229.42%22%2C%2211.18%22%2C%2214.92%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22White%22%2C%22colorKeys%22%3A%5B%22%23ffffff%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%22-1.17%22%2C%22-1.1%22%2C%222.36%22%2C%224.12%22%2C%225.89%22%2C%227.65%22%2C%229.42%22%2C%2211.18%22%2C%2214.92%22%5D%2C%22smooth%22%3Afalse%7D%5D%2C%22lightness%22%3A11%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D
*/
:root {
  --background-0: #050a18;
  --background-1: #09112a;
  --border-0: #09112a;
  --border-highlight: #f19c29;
  --text: #f1f1f1;

  --background-highlight: #475685;
  --text-highlight: #f1f1f1;
  --background-contrast: #fdfdfd;
  --text-contrast: #0a0a0a;
  --background-success: #1e9542;
  --text-success: #0a0a0a;
  --background-error: #cc2000;
  --text-error: #1e9542;

  --field-background: #fdfdfd;
  --field-border: 1px solid #475685;
  --button-background: #f19c29;
  --button-text: #0a0a0a;
  --button-background-hover: #ee8900;
}

html,
body {
  height: 100%;
  color: var(--text);
}

main {
  min-height: 100%;
  background: var(--background-1);
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

a {
  color: var(--text);
  text-decoration: none;

  &:visited {
    color: var(--text);
  }

  &:hover {
    text-decoration: underline;
  }
}

button,
a.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--button-background);
  color: var(--button-text);
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: var(--button-background-hover);
  }
}

label:has(input),
label:has(textarea) {
  display: block;
  margin-block-end: 0.5rem;

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: var(--field-border);
    border-radius: 5px;
    background: var(--field-background);
  }
}

textarea {
  height: 8rem;
}

/* Skeleton */
.skeleton {
  background: var(--background-0);
  background: linear-gradient(
    110deg,
    var(--background-0) 8%,
    var(--background-1) 18%,
    var(--background-0) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
