@import './Button.css';
@import './Popover.css';
@import './Dialog.css';
@import './DateField.css';
@import './RangeCalendar.css';
@import './Form.css';
@import './theme.css';

.react-aria-DateRangePicker {
  color: var(--text);

  .react-aria-Group {
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 220px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    padding: 4px 4px 4px 8px;
    border: var(--field-border);
    border-radius: 6px;
    background: var(--field-background);
    white-space: nowrap;
    color: var(--field-color);

    &[data-pressed] {
      box-shadow: none;
      background: var(--highlight-background);
    }

    &[data-focus-within] {
      outline: var(--focus-ring);
      outline-color: var(--field-focus-ring-color);
      outline-offset: var(--outline-offset);
    }

    &[data-invalid] {
      border-color: var(--field-invalid-border);
    }
  }

  [slot='start'] + span {
    padding: 0 4px;
  }

  [slot='end'] {
    margin-right: 2rem;
    flex: 1;
  }

  .react-aria-Button {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
    forced-color-adjust: none;
    border-radius: var(--border-radius);
    border: none;
    margin-left: auto;
    width: 1.429rem;
    height: 1.429rem;
    padding: 0;
    font-size: 0.857rem;
    box-sizing: content-box;
    flex-shrink: 0;
    position: sticky;
    right: 0;

    &[data-focus-visible] {
      outline: var(--focus-ring);
      outline-color: var(--field-focus-ring-color);
      outline-offset: -2;
    }
  }

  .react-aria-DateInput {
    width: unset;
    min-width: unset;
    padding: unset;
    border: unset;
    outline: unset;
  }

  .react-aria-DateSegment {
    color: var(--field-color);

    &[data-placeholder] {
      color: var(--field-color-placeholder);
    }

    &[data-invalid] {
      color: var(--field-invalid-color);

      &:focus {
        background: var(--field-invalid-focus-background);
        color: var(--field-invalid-focus-text);
      }
    }

    &:focus {
      background: var(--field-background-highlight);
      color: var(--field-text-highlight);
    }
  }
}

.react-aria-Popover {
  background: var(--background-0);
  border: 1px solid var(--border-0);
}

.react-aria-RangeCalendar .react-aria-CalendarCell {
  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }

  &[data-selected] {
    background: var(--field-background-highlight);
    color: var(--field-text-highlight);
  }
}

.react-aria-Popover[data-trigger='DateRangePicker'] {
  max-width: unset;
}

.react-aria-DateRangePicker {
  &[data-invalid] {
    [slot='end']:after {
      content: '🚫' / '';
      content: '🚫';
      alt: ' ';
      flex: 1;
      text-align: end;
      margin-left: 1.5rem;
      margin-right: -1.5rem;
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot='description'] {
    font-size: 12px;
  }
}
