<div layout="row" layout-align="center none" ng-if="vm.auth.isAuthenticated()">
	<md-content flex="100">
		<h1 style="text-align: center">Cronologia Invio SMS</h1>
		<md-card>
			<md-card-header>
	          <md-card-header-text>
	            <span class="md-subhead">Max 50 invii</span>
	          </md-card-header-text>
		    <md-datepicker ng-model="myDateFirst" ng-change="dateFirstSelected(myDateFirst)" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
		    <md-datepicker ng-model="myDateLast" ng-change="updateDate(myDateLast)" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate" ng-disabled="!dateSelected"></md-datepicker>
	        </md-card-header>
        	<md-card-content>
				<md-list flex>
			        <md-list-item class="md-1-line noright">
			            <p>Sms Inviati</p>
			            <p>Giorno di invio</p>
			        </md-list-item>
			        <md-list-item class="md-2-line noright" ng-repeat="sms in smsHistory" ng-click="null">
			            <p>{{sms.num_recipietns}}</p>
			            <p>{{sms.create_time | amParse:'YYYYMMDDHHmmss' | amLocal | amDateFormat: 'dddd, DD MMMM YYYY, HH:mm:ss'}}</p>
			        </md-list-item>
			    </md-list>
			</md-card-content>
		</md-card>
	</md-content>
</div>
<div ng-if="!vm.auth.isAuthenticated()">
	Ciao
</div>