<div class="breadcrumbs">
	<p>
		<md-button ui-sref="home">Dashboard</md-button> / <md-button ui-sref="admin">Admin</md-button> / <md-button disabled>   Cronologia Sms </md-button>
	</p>
</div>
<div layout="row" layout-align="center none" ng-if="lock.isAuthenticated()">
	<div class="loading" ng-if="!loaded">
  		<img src="assets/loading.svg" alt="loading">
	</div>
	<md-content flex="100" ng-if="loaded">
		<md-card>
			<md-card-header>
	          <md-card-header-text>
	            <span class="md-subhead">Max 50 invii</span>
	          </md-card-header-text>
		    <md-datepicker ng-model="myDateFirst" ng-change="dateFirstSelected(myDateFirst)" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
		    <md-datepicker ng-model="myDateLast" ng-change="updateDate(myDateLast)" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate" ng-disabled="!dateSelected"></md-datepicker>
	        </md-card-header>
        	<md-card-content>
				<md-list flex>
			        <md-list-item class="md-1-line noright">
			            <p>Sms Inviati</p>
			            <p>Giorno di invio</p>
			        </md-list-item>
			        <md-list-item class="md-2-line noright" ng-repeat="sms in smsHistory" ng-click="null">
			            <p>{{sms.num_recipietns}}</p>
			            <p>{{sms.create_time | amParse:'YYYYMMDDHHmmss' | amLocal | amDateFormat: 'dddd, DD MMMM YYYY, HH:mm:ss'}}</p>
			        </md-list-item>
			    </md-list>
			</md-card-content>
		</md-card>
	</md-content>
</div>