<md-content ng-hide="firebaseUser" flex layout="row" layout-padding layout-align="center center" class="login">
	<md-card layout="row" layout-align="center center">
		<div flex="50" class="login__first" ng-if="!firebaseUser">
			<h1>Benvenuto nella intranet Pieroni!</h1>
			<h2>Esegui il login a destra per entrare</h2>
		</div>
		<div flex="50" class="login__second">
			<form name="signFirebase">
				<input type="text" name="user" ng-model="formFire.user" />
				<input type="text" name="password" ng-model="formFire.pass" />
				<button ng-click="fireLogin()">Login</button>
			</form>
		</div>
</md-card>
</md-content>