<md-content ng-hide="firebaseUser" flex layout="row" layout-padding layout-align="center center" class="login">
	<md-card layout="row" layout-align="center center" class="md-whiteframe-15dp">
		<div flex="50" class="login__first" ng-if="!firebaseUser">
			<h1>Benvenuto nella intranet Pieroni!</h1>
			<h2>Esegui il login a destra per entrare</h2>
		</div>
		<div flex="50" class="login__second md-whiteframe-7dp">
			<h3 class="login__second--header">Inserisci i tuoi dati</h3>
			<form name="signFirebase" ng-submit="fireLogin()" ng-hide="resetting">
				<md-input-container class="md-block">
			        <label>Email</label>
			        <input required type="email" name="email" ng-model="formFire.user" ng-pattern="/^.+@.+\..+$/" />

			        <div ng-messages="signFirebase.email.$error" role="alert">
			          <div ng-message-exp="['required', 'pattern']">
			            Sembra che tu non abbia inserito un'indirizzo email valido.
			          </div>
			        </div>
			    </md-input-container>
				<md-input-container class="md-block">
			        <label>Password</label>
			        <input required type="password" name="password" ng-model="formFire.pass" />

			        <div ng-messages="signFirebase.password.$error" role="alert">
			          <div ng-message-exp="['required']">
			            Devi inserire una password per accedere.
			          </div>
			        </div>
			    </md-input-container>
			    <div layout="row" class="reset-link">
			    	<a ng-click="showReset()">Resetta la password</a>
			    </div>
			    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loginLoader">
			      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
			    </div>
				<md-button type="submit" ng-disabled="signFirebase.email.$invalid || signFirebase.password.$invalid" ng-hide="loginLoader" class="md-raised">Login</md-button>
			</form>
			<form name="resetFirebase" ng-show="resetting">
				<md-input-container class="md-block">
			        <label>Email</label>
			        <input required type="email" name="resetEmail" ng-model="resetForm.emailReset" ng-pattern="/^.+@.+\..+$/" />

			        <div ng-messages="signFirebase.email.$error" role="alert">
			          <div ng-message-exp="['required', 'pattern']">
			            Sembra che tu non abbia inserito un'indirizzo email valido.
			          </div>
			        </div>
			    </md-input-container>
			    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="resetLoader">
			      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
			    </div>
				<md-button ng-disabled="resetFirebase.resetEmail.$invalid" ng-hide="resetLoader" class="md-raised" ng-click="resetPassword()">Resetta la password</md-button>
			</form>
			<p class="message message--error" ng-if="error">{{errorAuth}}</p>
			<p class="message message--success" ng-if="resetMessage">{{resetMessage}}</p>
		</div>
</md-card>
</md-content>