.container {
  padding-inline: 1rem;
  overflow: auto;
}

.section {
  margin-block-end: 1.5rem;
  padding: 1rem;
  background-color: var(--background-0);
}

.linksContainer {
  display: grid;
  row-gap: 0.5rem;

  @media (min-width: 1024px) {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
