.container {
  padding-inline: 1rem;
  overflow: auto;
}

.section {
  margin-block-end: 1.5rem;
  padding: 1rem;
  background-color: var(--background-0);
}

.linksContainer {
  display: grid;
  row-gap: 0.5rem;
}
