.twoGrid {
  display: grid;
  row-gap: 2rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.twoGridOnMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.twoGrid > div:first-child {
  border-right: 1px solid var(--background-1);
}

.title {
  border-bottom: 1px solid var(--background-1);
  text-align: center;
}

.content {
  margin-inline: 1rem;
}
