a {
  cursor: pointer;
}

img {
  display:block;
  max-width:100%;
  width:100%;
  height:auto;
}

.flex__grow {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.background-cover {
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

/********************
THEMEING NG MATERIAL
********************/
md-content.md-theme-pieroni, md-content {
  background: inherit;
}
.md-button.md-primary:not([disabled]) md-icon {
  color: inherit;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  background: inherit;
}
.md-theme-pieroni {
  &__background {
    background: #f6fafd;
    color: #000;
  }
}

.height-no-100 {
  max-height: unset !important;
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  img {
    width: 25%;
    height:25%;
  }
}

/****************************
PAGE
****************************/
body {
  overflow: hidden;
}

.app-container {
  display:flex;
  flex-wrap: wrap;
  overflow:hidden;
  &.light {
    background: #f6fafd;
    toolbar {
      background: #fff;
      md-icon {
        color: #333;
      }
    }
    navbar {
      md-icon {
        color: #333;
      }
    }
    .md-pieroni-background {
      background: #f6fafd;
    }
  }
  &.dark {
    background: #2c3868;
    toolbar {
      background: #1b223f;
      md-icon {
        color: #fff;
      }
    }
    navbar {
      md-icon {
        color: #fff;
      }
    }
    .md-theme-pieroni__background {
      background: #2c3868;
    }
    .welcome * {
      color: #fff;
    }
    .breadcrumbs * {
      color: #fff;
    }
    .fb-groups md-card {
      background: #212c59;
      * {
        color: #fff;
      }
    }
    md-calendar, table.md-calendar {
      background: #171d37;
      color: #fff;
    }
    .md-calendar-day-header {
      background: #13172a;
      color: #fff;
    }
  }
}

.layout-container {
  display:flex;
  overflow: hidden;
}

// NAV
toolbar {
  width:100%;
  .toggleWrapper {
  overflow: hidden;
  padding: 0 35px;
  
  input {
    position: absolute;
    left: -99em;
  }
}

// Day Night Toggle by Banjamin Réthoré - https://codepen.io/bnthor/pen/WQBNxO
.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px - 90 / 3;
  height: 50px - 50 / 3;
  background-color: #83D8FF;
  border-radius: 90px - 90 / 3 - 6;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
  &:before {
    content: 'AM';
    position: absolute;
    left: -50px + 50 / 3;
    top: 15px - 15 / 3;
    font-size: 18px - 18 / 3;
    color: #333;
  }
  
  &:after {
    content: 'PM';
    position: absolute;
    right: -48px + 48 / 3;
    top: 15px - 15 / 3;
    font-size: 18px - 18 / 3;
    color: #6873b7;
  }
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px - 3 / 3;
  left: 3px - 3 / 3;
  width: 50px - 50 / 3 - 6;
  height: 50px - 50 / 3 - 6;
  background-color: #FFCF96;
  border-radius: 50px - 50 / 3;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform:  rotate(-45deg);
  
  .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .crater--1 {
    top: 18px - 18 / 3;
    left: 10px - 10 / 3;
    width: 4px - 4 / 3;
    height: 4px - 4 / 3;
  }
  
  .crater--2 {
    top: 28px - 28 / 3;
    left: 22px - 22 / 3;
    width: 6px - 6 / 3;
    height: 6px - 6 / 3;
  }
  
  .crater--3 {
    top: 10px - 10 / 3;
    left: 25px - 25 / 3;
    width: 8px - 8 / 3;
    height: 8px - 8 / 3;
  }
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px - 10 / 3;
  left: 35px - 35 / 3;
  z-index: 0;
  width: 30px - 30 / 3;
  height: 3px - 3 / 3;
}

.star--2 {
  top: 18px - 18 / 3;
  left: 28px - 28 / 3;
  z-index: 1;
  width: 30px - 30 / 3;
  height: 3px - 3 / 3;
}

.star--3 {
  top: 27px - 27 / 3;
  left: 40px - 40 / 3;
  z-index: 0;
  width: 30px - 30 / 3;
  height: 3px - 3 / 3;
}
    
.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px - 16 / 3;
  left: 11px - 11 / 3;
  z-index: 0;
  width: 2px - 2 / 3;
  height: 2px - 2 / 3;
  transform: translate3d(3px - 3 / 3,0,0);
}

.star--5 {
  top: 32px - 32 / 3;
  left: 17px - 17 / 3;
  z-index: 0;
  width: 3px - 3 / 3;
  height: 3px - 3 / 3;
  transform: translate3d(3px - 3 / 3,0,0);
}

.star--6 {
  top: 36px - 36 / 3;
  left: 28px - 28 / 3;
  z-index: 0;
  width: 2px - 2 / 3;
  height: 2px - 2 / 3;
  transform: translate3d(3px - 3 / 3,0,0);
}

input:checked {
  + .toggle {
    background-color: #749DD6;
  
    &:before {
      color: #fff;
    }

    &:after {
      color: #6873b7;
    }
    
    .toggle__handler {
      background-color: #FFE5B5;
      transform: translate3d(40px - 40 / 3, 0, 0) rotate(0);
  
      .crater { opacity: 1; }
    }
    
    .star--1 {
      width: 2px - 2 / 3;
      height: 2px - 2 / 3;
    }
    
    .star--2 {
      width: 4px - 4 / 3;
      height: 4px - 4 / 3;
      transform: translate3d(-5px + 5 / 3, 0, 0);
    }
    
    .star--3 {
      width: 2px - 2 / 3;
      height: 2px - 2 / 3;
      transform: translate3d(-7px + 7 / 3, 0, 0);
    }
    
    .star--4,
    .star--5,
    .star--6 {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    .star--4 {
      transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--5 {
      transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star--6 {
      transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}
}
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
  &.toolbar-nav {
    background: inherit;
  }
}
.toolbar-nav {
  .toolbar-nav__logo {
    display: block;
    width: auto;
    max-height: 60%;
  }
}
navbar {
  width:auto;
  //max-width: 15vw;
  .sidenav.md-theme-pieroni__background {
    width:15vw;
    md-list-item {
      border-right: 3px solid #f1f1f1;
      &.active {
        border-right: 5px solid #ee8900;
      }
      &._md-button-wrap>div.md-button {
        padding: 1rem;
      }
      .md-list-item-inner {
        //flex-direction: column;
        &:before {
          //min-height: unset;
        }
        md-icon {
          margin: 0 auto;
        }
      }
    }
    &.open {
      width: 30vw;
      md-list-item .md-list-item-inner md-icon {
        margin-right: 1rem;
      }
    }
  }
}

// CONTENT
div.container {
  height: calc(100vh - 56px);
  overflow-y: auto;
  @media screen and (min-width:768px) {
    width:85vw;
    height: calc(100vh - 48px);
  }
  @media screen and (min-width:1024px) {
    height: calc(100vh - 64px);
  }
}

/****************************
HOME
****************************/
div[layout="row"] {
  margin-top: 1rem;
  &:not(:first-of-type) {
    margin-top: 1.5rem;
  }
}
.welcome {
  background: transparent;
  box-shadow: none;
  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
  }
  .welcome__ {
    &greeting {
      margin-bottom: 2rem;
      font-weight: 100;
    }
    &day {
      font-weight: 900;
    }
    &month {
      font-weight: 700;
      text-transform: uppercase;
    }
    &hour {
      font-weight: 800;
    }
  }
}
.quote {
  position: relative;
  min-height: 250px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }
  .quote__ {
    &title {
      background:transparent;
      text-transform: uppercase;
      p {
        font-weight:100;
      }
    }
    &text {
      position: absolute;
      top: 50%;
      transform: translateY(-30%);
      color: #ffffff;
      font-size: 1.3em;
      font-weight: 400;
    }
  }
}
.link-item {
  md-card {
    flex-grow: 1;
    md-card-content {
      flex-grow: 1;
      span {
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
  .link-item__ {
    &icon {
      color: #fff;
    }
  }
}
md-card {
  md-card-header {
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
  }
  md-card-actions {
    margin:0;
    padding: 8px;
  }
}

/****************************
SMS
****************************/
.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: calc(100% - 48px);
}
.phone {
  position:relative;
  height: 70vh;
  width: calc(70vh * 9 / 16);
  border: 16px solid #fff;
  border-radius: 15px;
  background: #f1f1f1;
  box-sizing: border-box;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -3.25px;
    left: -3.25px;
    border: 7.5px solid white;
    border-radius: 15px;
    width: calc(100% - 7.5px);
    height: calc(100% - 7.5px);
    background: #fff;
    box-shadow: 0px 0px 14px -7px;
    z-index: 0;
  }
  form {
    position:relative;
    margin: 0;
  }
}

.phone__header {
  border-radius: 16px 16px 0 0;
  margin-top:0;
  margin-left: -3px;
  padding: .5rem;
  width: calc(100% - 7px);
  max-height:calc(10vh - 1rem);
  background: #5041f5;
  p {
    margin: .5rem auto 1rem auto;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  input {
    display: block;
    margin: 0 auto .5rem auto;
    border: none;
    border-radius: 35px;
    padding: 5px 10px;
    width: 100%;
    background: #f6f6f6;
    text-align: center;
  }
}

.phone__screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 50vh;
  height: 50vh;
  overflow-y: hidden;
  p {
    margin-top:0;
    margin-right: 5px;
    border-radius: 50px 5px 50px 50px;
    padding: 1.2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    width: 70%;
    background: #66BB6A;
    text-align: right;
    color: #000;
    .phone__screen--number {
      display: block;
      margin-bottom: .3rem;
      color: #fff;
    }
    .phone__screen--time {
      display: block;
      margin-top: .8rem;
      font-size: .7rem;
      color: #333;
    }
    &.ng-enter {
      animation-name: animScale;
      animation-duration: 0.25s;
      animation-fill-mode: forwards;
      transform-origin:bottom right;
    }
  }
}

@keyframes animScale {
  0% { opacity: 0; transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
  100% { opacity: 1; transform: translate3d(0,0,0) scale3d(1,1,1); }
}

.phone__text {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1px;
  width: calc(100% - 2px);
  max-height: 10vh;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px -9px 16px -14px;
  textarea {
    margin-right: 1rem;
    border: none;
    padding: 0.5rem 0px 0px 0.5rem;
    width: 100%;
    outline: none;
  }
  .phone__send {
    .phone__send--button:not([disabled="disabled"]) {
      color: #5041f5;
      cursor: pointer;
    }
  }
}

/****************************
ADMIN
****************************/

// ADMIN DASHBOARD
.links-container {
  .link__links {
    background-image: linear-gradient(to right, rgb(0, 150, 136) 0%, rgb(0, 121, 107) 100%);
  }
  .link__quote {
    background-image: linear-gradient(to right, rgb(255, 193, 7) 0%, rgb(255, 160, 0) 100%);
  }
}
.analytics {
  position: relative;
  width: calc(100% - 1rem);
  height: 0;
  padding-bottom: 21%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.bottom-container {
  justify-content: space-between;
  > div:first-child {
    flex: 1 1 auto;
  }
  .bottom-wrapper {
    flex: 4 1;
  }
}
.fb-groups {
  max-height: 40vh;
  md-card {
    overflow: auto;
  }
}
.calendar-wrapper {
  md-calendar {
    flex-grow: 1;
  }
}

// ADMIN LINKS

.admin-links-container {
  margin: 0 auto;
  @media screen and (min-width:768px) {
    max-width:85%;
  }
  @media screen and (min-width:1024px) {
    max-width: 70%;
  }
  @media screen and (min-width:1200px) {
    max-width: 60%;
  }
  md-toolbar {
    background-image: linear-gradient(to right, #ee8900, #ee9400, #ed9e01, #eca808, #ebb212);
    color: #000;
  }
  md-card-content {
    max-height: 65vh;
    overflow: auto;
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}

.dark {
  .admin-links-container {
    md-toolbar {
      background:#13172a;
      color: #fff;
    }
    md-card-content {
      background: #171d37;
      color: #fff;
    }
  }
}

md-dialog {
  &.dark {
    background: #212c59;
    color: #fff;
    label, md-input-container:not(.md-input-invalid).md-input-has-value label {
      color: #fff;
      &:after {
        color: rgba(255,255,255,0.54) !important;
      }
    }
    input {
      color: #fff;
      border-color: #fff;
    }
  }
  md-card {
    margin: 2rem auto;
    max-width: 50%;
  }
}

.color-selector {
  width:30px;
}

md-radio-button {
  .md-off {
    border-radius: 3px;
    border-color: #ccc;
    width:30px;
  }

  .md-ink-ripple {
    width:30px;
  }
  .md-container .md-ripple-container {
    top:-20px;
  }
}

md-radio-button.md-checked .md-off {
  border-color: #000;
}

md-radio-button .md-on {
  display: none;
}

// Set colors for colors associated with links
$color-selector: (
  grey: (#607d8d, #455a64),
  deepOrange: (#ff5722, #e64a19),
  amber:  (#ffc107, #ffa000),
  green: (#4caf50, #388e3c),
  teal: (#009688, #00796b),
  lightBlue: (#03a9f4, #0288d1),
  indigo: (#3f51b5, #303f9f),
  red: (#f44336, #d32f2f)
);

/*$bg-selector: (
  grey: ('bg-001'),
  deepOrange: ('bg-016'),
  amber:  ('bg-041'),
  green: ('bg-046'),
  teal: ('bg-043'),
  lightBlue: ('bg-012'),
  indigo: ('bg-031'),
  red: ('bg-005')
);*/
 
.color-selector {
  @each $name, $colors in $color-selector {
    $firstcolor: nth($colors, 1);
    $secondcolor: nth($colors, 2);
     
    &[value="#{$name}"] .md-off {
      background-image: linear-gradient(to right, #{$firstcolor} 0%, #{$secondcolor} 100%);
    }
  }
}
 
/*.bg-selector {
  @each $name, $bg in $bg-selector {
    &[value="#{$name}"] .md-off {
      background-image: url("assets/#{$bg}.jpg");
    }
  }
  .md-off {
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
  }
}*/

.admin-link__color, .admin-link__color--dummy {
  display:block;
  margin-right:2rem;
  border-radius:50%;
  width:25px;
  height:25px;
}

// Set colors for dummy links
$dummy-color: (
  1: (#607d8d),
  2: (#ff5722),
  3:  (#ffc107),
  4: (#4caf50)
);

md-list md-list-item {
  @each $number, $color in $dummy-color {
    &:nth-of-type(#{$number}) span {
      background: $color;
    }
  }
}

// INPUT DIRECTIVE
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor:pointer;
    &:hover {
      background-color: red;
    }
  }
  &:focus + label {
    background-color: red;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}

// ADMIN QUOTE
.admin-quote__image-list {
  .admin-quote__image {
    display:block;
    margin-right: 1rem;
    max-width:25%;
    height:auto;
  }
}