.page {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.page svg {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
