  <div layout="column" ng-class="{'open' : isSidebarOpen() === true, 'close' : isSidebarOpen() === false}" class="sidenav flex__grow md-theme-pieroni__background" ng-controller="NavbarController" ng-if="lock.isAuthenticated()">
    <md-content layout="column" layout-padding class="flex__grow md-theme-pieroni__background">
      <md-list layout="column" flex class="flex__grow">
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="home" ui-sref-active="active">
          <md-icon>dashboard</md-icon>
          <p ng-if="isSidebarOpen()">Dashboard</p>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="sms" ui-sref-active="active">
          <md-icon>sms</md-icon>
          <p ng-if="isSidebarOpen()">Skebby Sms</p>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="admin" ui-sref-active="active" ng-if="lock.userHasScopes(['write:data'])">
          <md-icon>settings</md-icon>
          <p ng-if="isSidebarOpen()">Area Amministratori</p>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="adminLinks" ui-sref-active="active" ng-if="lock.userHasScopes(['write:data'])">
          <md-icon>link</md-icon>
          <p ng-if="isSidebarOpen()">- Gestisci Link</p>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="adminQuote" ui-sref-active="active" ng-if="lock.userHasScopes(['write:data'])">
          <md-icon>format_quote</md-icon>
          <p ng-if="isSidebarOpen()">- Gestisci Citazione</p>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="toggleLeft()" ui-sref="adminSms" ui-sref-active="active" ng-if="lock.userHasScopes(['write:data'])">
          <md-icon>sms_failed</md-icon>
          <p ng-if="isSidebarOpen()">- Cronologia Sms</p>
        </md-list-item>
        <md-list-item class="md-1-line" id="qsLogoutBtn" ng-click="lock.logout()">
          <md-icon>cancel</md-icon>
          <p ng-if="isSidebarOpen()">Disconnetti</p>
        </md-list-item>
      </md-list>
    </md-content>
  </div>