<div ng-controller="ToolbarController" ng-if="firebaseUser">
  <md-toolbar class="toolbar-nav">
    <div class="md-toolbar-tools">
      <md-button ng-click="openSidenav()" ng-if="!isSidebarOpen()">
        <md-icon>
          menu
        </md-icon>
      </md-button>
      <md-button ng-click="closeSidenav()" ng-if="isSidebarOpen()">
        <md-icon>
          close
        </md-icon>
      </md-button>
      <div class="toggleWrapper">
      <input type="checkbox" class="dn" id="dn" ng-model="uiColorStatus" ng-click="uiColorToggler()" aria-label="Dark UI"/>
      <label for="dn" class="toggle">
        <span class="toggle__handler">
          <span class="crater crater--1"></span>
          <span class="crater crater--2"></span>
          <span class="crater crater--3"></span>
        </span>
        <span class="star star--1"></span>
        <span class="star star--2"></span>
        <span class="star star--3"></span>
        <span class="star star--4"></span>
        <span class="star star--5"></span>
        <span class="star star--6"></span>
      </label>
    </div>
      <!--<md-switch ng-model="uiColorStatus" ng-click="uiColorToggler()" aria-label="Dark UI">
      </md-switch>-->
      <span flex></span>
      <img src="https://firebasestorage.googleapis.com/v0/b/intranet-pieroni.appspot.com/o/logo%2Flogo-colore.png?alt=media&token=1c9372cf-adaf-4c93-bbf1-f99dbdf1d467" alt="Logo Pieroni" class="toolbar-nav__logo toolbar-nav__logo--col" ng-hide="uiColorStatus" />
      <img src="https://firebasestorage.googleapis.com/v0/b/intranet-pieroni.appspot.com/o/logo%2Flogo-bianco-nero.png?alt=media&token=e9cdbc53-3fda-4d10-b415-d0ef8ac48aaa" alt="Logo Pieroni" class="toolbar-nav__logo toolbar-nav__logo--bn" ng-show="uiColorStatus" />
    </div>
  </md-toolbar>  
</div>