.route {
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-block-end: 1rem;
  background: var(--background-0);

  &[data-quickest] {
    background-color: var(--background-success);
    color: var(--text-success);
  }
}

.route h2 {
  margin-block-end: 0.75rem;
  font-size: 1.2em;
}

.destination {
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
  font-size: 1.2em;
}

.cost {
  margin-block-end: 0.5rem;
}

.otherDetails li {
  margin-block-end: 0.25rem;
}
